html, body {
  background: rgba(240, 244, 249, 1);
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.header-title {
  background: rgba(106, 140, 182, 1);
  padding: 15px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.format {
  width: 200px;
  margin-bottom: 5px;
}

.format-label {
  font-weight: bold;
}

.menu-bar {
  background: rgba(255, 239, 218, 1);
  height: 100%;
  width: 120px;
  margin-right: 10px;
  text-align: center;
}

.function-container {
  width: 250px;
}

.function-button {
  cursor: pointer;
  background: rgba(125, 154, 190, 1);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 120px;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px 0px 5px 0px;
}

.main-section {
  width: 400px;
}

.table-container {
  margin-top: 50px;
}

table, th, td {
  border: 1px solid rgb(64,101,146);
  background-color: white;
}

th {
  font-weight: bold;
  padding: 5px;
}

td {
  font-weight: normal;
  padding: 5px;
}

.function-button:hover {
  background: rgba(99, 122, 171, 1);
  transition-duration: 0.2s;
}

.function-button:active {
  background: rgba(75, 97, 143, 1);
  transition-duration: 0.1s;
}

a {
  text-decoration: none;
  color: inherit;
}

.modal-button {
  cursor: pointer;
  background: rgba(106, 140, 182, 1);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.modal-button:hover {
  background: rgba(76, 105, 151, 1);
  transition-duration: 0.2s;
}

.modal-button:active {
  background: rgba(16, 20, 48, 1);
  transition-duration: 0.1s;
}

.menu-button {
  background: none;
  width: 100px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: rgba(16, 20, 48, 1);
}

.cancel-button {
  cursor: pointer;
  background: rgba(178, 179, 185, 1);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.cancel-button:hover {
  background: rgba(122, 125, 143, 1);
  transition-duration: 0.2s;
}

.cancel-button:active {
  background: rgba(99, 102, 118, 1);
  transition-duration: 0.1s;
}

.home-button {
  margin-bottom: 30px;
}

.menu-button:hover {
  background: rgba(255, 209, 182, 1);
  transition-duration: 0.2s;
}

.menu-button:active {
  background: rgba(237, 163, 136, 1);
  transition-duration: 0.1s;
}

.desc {
  width: 1000px;
}

.search-input-box {
  width: 180px;
}

#insert-box {
  display: none;
}

#delete-box {
  display: none;
}

#search-box {
  display: none;
}

#update-box {
  display: none;
}
